<div class="wrapper-high">

<h1> UPDATE YOUR PROFILE </h1>
	<div class="form">
		<%= form_for @user do |f| %>
				<li><%= f.label "First Name" %></li>
				<p><%= f.text_field :fname %></p>
				<li><%= f.label "Last Name" %></li>
				<p><%= f.text_field :lname %></p>
				<li><%= f.label "Username" %>
				<p><%= f.text_field :username %></p>
				<li><%= f.label "E-mail" %></li>
				<p><%= f.text_field :email %></p>
				<li><%= f.label "Password" %></li>
				<p><%= f.text_field :password %></p>
				<li><%= f.label "Country" %></li>
				<p><%= f.text_field :country %></p>
				<%= f.submit "Update", class: "btn" %>
				<br><br>
		 	<%= link_to "Delete", @user, data: { confirm: "OMG, OMG, OMG ARE YOU FU£*!&@ SURE!?" }, method: :delete %>
		<% end %>
	</div>
</div>
