<%= flash[:created] if flash[:created] %>
<%= flash[:deleted] if flash[:deleted] %>


<% @user.each do |user| %>
	<p><%= user.fname %></p>	
	<p><%= user.lname %></p>
	<p><%= user.username %></p>

	<p><%= link_to "Delete", user, data: { confirm: "Are you sure?" }, method: :delete %>
<% end %>