<h1> USER LIST </h1>

<%= flash[:created] if flash[:created] %>
<%= flash[:deleted] if flash[:deleted] %>
<%= flash[:updated] if flash[:updated] %>

<% @user.each do |user| %>
	<ul>
		<li><strong>User: </strong><%= link_to user.fname + " " + user.lname, user_path(user.id) %></li>
		<li><strong>Username:</strong> <%= user.username %></li>
	</ul>
<% end %>