<div class="wrapper-high">
	<h1>THIS POST</h1>
	<div class="post">
		<h2><%= @post.title %></h2>
		<%= flash[:destroyed] if flash[:destroyed] %>
		<p><%= @post.body %></p>
		<br>
		<hr>
		<%= render @post.comments %>
		<%= render 	'comments/form' %>
		</div>
</div>
